@{
    ViewData["Title"] = "Contact List";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contact List</h1>
</div>

<!--First load all scripts required, add our bundle file and render our component.-->
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>


<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js">
</script>
<script type="text/babel" src="././Components/ContactList.js">
</script>
<script src="././Components/ContactList.js"></script>
<div id="react-container"></div>
